@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">McNatt Ballroom Dance</h1>
    <br />

    <div class="container">
        <div class="row">
            <div class="col d-flex align-items-center">
                <img src="~/img/AJ3A1561 sm.jpg" class="img-fluid" />
            </div>
            <div class="col">
                <h6 class="display-6 text-center">Bio</h6>
                <p class="text-start">Logan McNatt is a competitive ballroom dancer, trained primarily in the standard and latin dance styles,
                    with experience in smooth and rhythm. He feel in love with ballroom dance in October 2017 after watching
                    the BYU Ballroom Dance Touring Company perform in the Treasure Valley in Idaho where he's from. 
                    He joined a local youth ballroom studio, Breakaway Ballroom, and trained individually with his dad, 
                    Brian McNatt, former BYU BDC (Ballroom Dance Company) Tour Team Alumni. After 2 years at Breakaway, Logan went to BYU. 
                    Logan joined the BDC as part of one of the introductory Ensembles, Ensemble 3. After a semester, he took 
                    a hiatus from dance to serve a two-year mission for The Church of Jesus Christ of Latter-day Saints
                    in San Antonio, TX. He then went back to BYU to pursue his education again, choosing to major in Information 
                    Systems and minor in Ballroom Dance. Logan moved quickly through the teams, making it to Ensemble 1 and then 
                    a semester later, to the presitgious Showcase Company, the team directly below the Touring Company, which he's 
                    been a member of for two years. Logan also met his wife, Leah Cottrell, and they perform on the 
                    same team together and are individual competitive partners. They look forward to a bright future of dancing 
                    together!
                </p>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <h6 class="display-6 text-center">Credentials</h6>
                <ul class="text-start">
                    <li>Member of the BYU BDC Showcase Company</li>
                    <li>Active Competitor in Novice and Pre Champ Ballroom and Latin</li>
                    <li>Social Dance Teacher at BYU</li>
                    <li>High Honors in Gold American Medals Exams</li>
                    <li>Honors in Gold Latin Medals Exams</li>
                    <li>BYU Ballroom Dance Minor</li>
                    <li>Completion of Choreography of Ballroom Dance class</li>
                    <li>Completion of Teaching Methods of Social Dance class</li>
                </ul>
            </div>
            <div class="col d-flex align-items-center">
                <img src="~/img/aj3a2139.jpg" class="img-fluid" />
            </div>
        </div>
    </div>

</div>
